

<div class="row d-flex justify-content-center">
    <div class="col-6">
        <h1>Last step...</h1>
        <h3> Enter your address</h3>
        <form asp-action="Order_Confirm">
           
            <div class="form-group">
                
                <label>Address</label>
                <input name="Address" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Place order" class="btn btn-success mt-2" />
            </div>
        </form>
    </div>
</div>